@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
/* For my favorite everforest color pallate */
:root {
    --clr: #58bc82;
    --primary-color: #333;
    --secondary-color: #777;
    --background-color: #f0f0f0;
    --card-background: #ffffff;
    --button-background: #e0e0e0;
    --button-hover: #d0d0d0;
    --navbar-background: #b1aeae;
    --navbar-icon-color: #777;
    --active-icon-color: #333;
    --success-color: green;
    --error-color: red;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "JetBrains Mono", monospace;
}

body {
    display: flex;
    justify-content: center;
    align-items: center; /* Changed from align-self to align-items for proper centering */
    min-height: 100vh;
    background: rgb(189, 189, 189);
}

.container {
    width: 100%;
    max-width: 400px; /* Adjust max-width for the container */
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form {
    --bg-light: #efefef;
    --bg-dark: #707070;
    --clr: #58bc82;
    --clr-alpha: #9c9c9c60;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.form .input-span {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form input[type="email"],
.form input[type="password"] {
    border-radius: 0.5rem;
    padding: 1rem 0.75rem;
    width: 100%;
    border: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--clr-alpha);
    outline: 2px solid var(--bg-dark);
}

.form input[type="email"]:focus,
.form input[type="password"]:focus {
    outline: 2px solid var(--clr);
}

.label {
    align-self: flex-start;
    color: var(--clr);
    font-weight: 600;
}

.form .submit {
    padding: 1rem 0.75rem;
    width: 100%;
    display: flex;
    justify-content: center; /* Centering the text */
    align-items: center;
    gap: 0.5rem;
    border-radius: 3rem;
    background-color: var(--bg-dark);
    color: var(--bg-light);
    border: none;
    cursor: pointer;
    transition: all 300ms;
    font-weight: 600;
    font-size: 0.9rem;
}

.form .submit:hover {
    background-color: var(--clr);
    color: white;
}

.span {
    text-decoration: none;
    color: var(--bg-dark);
}

.span a {
    color: var(--clr);
}
.google-login-button {
    padding: 1rem 0.75rem;
    width: 100%;
    border-radius: 3rem;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    transition: all 300ms;
    font-weight: 600;
    font-size: 0.9rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.google-login-button .google-icon {
    height: 20px;
    margin-bottom: 1px; 
    margin-right: 0.5rem; 
    display: inline-block; 
    vertical-align: middle;
}

.google-login-button {
    border: 2px solid #747474;
  }
