@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100..800&display=swap");

/* Root variables for colors */
:root {
  --clr: #58bc82;
  --primary-color: #333;
  --secondary-color: #777;
  --background-color: #f0f0f0;
  --card-background: #ffffff;
  --button-background: #e0e0e0;
  --button-hover: #d0d0d0;
  --navbar-background: #b1aeae;
  --navbar-icon-color: #777;
  --active-icon-color: #333;
  --success-color: green;
  --error-color: red;
}

/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --clr: #58bc82;
    --primary-color: #f0f0f0;
    --secondary-color: #bbb;
    --background-color: #333;
    --card-background: #444;
    --button-background: #555;
    --button-hover: #666;
    --navbar-background: #444;
    --navbar-icon-color: #c7bfbf;
    --active-icon-color: #fff;
    --success-color: #58bc82;
    --error-color: #ff4444;
    background-color: var(--primary-color);
    color: var(--card-background);
    .container {
      background-color: var(--background-color);
        color: var(--primary-color);
    }
    .file-container{
        background-color: var(--navbar-background);
        color: white;
    }
    .navbar i {
      color: white;
      font-size: larger;
      text-decoration: none;
    }
  }
}

/* Style for the body */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background-color);
}

/* Container styles */
.container {
  width: 100%;
  margin: 20px auto;
  padding: 20px;
  background-color: var(--background-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* File list styles */
#file-list {
  list-style-type: none;
  padding: 0;
}

/* File container styles */
.file-container {
    
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.file-name {
  font-weight: bold;
  margin-bottom: 10px;
}

/* Button container styles */
.button-container {
  margin-top: 10px;
}

.btn {
  display: inline-block;
  padding: 8px 12px;
  margin-right: 5px;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.view-btn {
  background-color: var(--button-background);
  color: var(--primary-color);
  transition: 0.3s;
}

.view-btn:hover {
  background-color: var(--clr);
  color: var(--button-background);
}

.download-btn {
  background-color: var(--button-background);
  color: var(--primary-color);
  transition: 0.5s ease;
}

.download-btn:hover {
  background-color: var(--clr);
  color: var(--button-background);
}
/* Bottom navbar styles */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--card-background);
  padding: 10px;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 0 auto;
  position: fixed;
  bottom: 20px; /* Distance from the bottom of the viewport */
  left: 0;
  right: 0;
}

.navbar .icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: transparent; /* Default background */
}

.navbar .icon-button.active {
  background-color: var(--clr); /* Green background for active state */
}

.navbar .icon-button img {
  width: 24px;
  height: 24px;
}

.navbar i {
  color: var(--navbar-icon-color);
  font-size: larger;
  text-decoration: none;
}

.navbar .settings {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.4s ease;
}

.navbar .settings.rotate {
  transform: rotate(120deg);
}

/* Make the navbar responsive */
@media (max-width: 500px) {
  .navbar {
    width: 100%;
    padding: 10px 20px;
  }

  .navbar .icon-button {
    width: 40px;
    height: 40px;
  }
}
